
// style.css

.fonte-titulo {
  font-family: 'Share Tech', sans-serif;
}

.imagen-background {
  background-image: url("img/imagem.jpg");
}

.imagen-carrousel {
  object-fit: cover;
  object-position: 0 50%;
  height: 400px;
}

.imagen-portifolio {
  width: 100vh;
}