/* style.css */

.descricao_carrousel {
  color: darkred;
}

.fonte-titulo {
  font-family: 'Share Tech', sans-serif;
}

.imagen-carrousel {
  object-fit: cover;
  object-position: 0 50%;
  height: 350px;
}
