/* style.css */

body {

  font-size: 22px;

}

.descricao_carrousel {
  color: slategray;
}

.fonte-titulo {
  font-family: 'Share Tech', sans-serif;
}

.imagen-carrousel {
  object-fit: cover;
  object-position: 0 50%;
  height: 350px;
}
